*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #404040;
}
p {
    font-family: Century Gothic;
}
h2 {
    font-family: Century Gothic;
}
a {
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
.btn-select {
    margin-top: 30%;
    background-color: #ccb3ed;
    border-radius: 25px;
    border: solid 0px;
    color: black;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-select:hover {
    background: #906cbf;
}
#mei {
    color: rgb(195, 195, 195);
    margin-bottom: -20%;
    margin-left: -150px;
    font-size: 14px;
}
#freelancer {
    margin-bottom: 50%;
}
.logo {
    height: 75px;
    width: 75px;
    margin: 3%;
    margin-bottom: 65%;
    margin-left: -5%;
}
.caixa {
    border-radius: 25px;
    margin-left: 47.5%;
    width: 450px;
    height: 700px;
    background-color: #343434;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -20%;
    margin-top: -40%;
}
.paizao {
    display: flex;
    align-items: center;
    justify-content: center;
}
.discussion {
    height: 500px;
    width: 500px;
    margin-right: -50%;
    margin-top: -20%;
}
#bemvindo {
    color: white;
    text-align: center;
    margin-bottom: 10%;
}
#pergunta {
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.pai {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
}
