*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2d0b42;
}
.pai {
    background-color: #46176a;
    height: 750px;
    width: 95%;
    border-radius: 30px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    box-shadow: (0, 10px, 10px, 0.3);
}
.filhinho {
    height: 670px;
    width: 40%;
    border-radius: 30px;
    margin-left: 265px;
    margin-top: 3%;
    background-color: #7c4697;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#inicio {
    color: white;
    font-family: Century Gothic;
    width: 200px;  
    font-size: 30px;
    margin-top: 15%;
    margin-left: 15%;
}
#logo {
    height: 70px;
    width: 73px;
    margin-left: 3%;
    margin-top: 3%;
}
#publicar {
    color: white;
    font-family: Century Gothic;
    margin-top: 10%;
    width: 230px; 
    height: 35px;
    font-size: 30px;
}
input {
    background-color: #693881;
    color: white;
    border-radius: 8px;
    border: solid 0px;
    font-family: Century Gothic;
    height: 50px;
    width: 275px;
    padding-left: 15px;
    margin-top: 10%;
    margin-left: 25%;
    font-style: italic;
    font-size: small;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
button {
    margin-top: 10%;
    background-color: #55116d;
    font-family: Century Gothic;
    font-size: larger;
    border-radius: 25px;
    border: solid 0px;
    color: white;
    height: 50px;
    width: 150px;
    margin-bottom: 10%;
}
#btn:hover {
    background: #421353;
}
#freelancers {
    font-family: Century Gothic;
    margin-top: 20%;
}
#vermais {
    height: 30px;
    width: 120px;
    font-size: small;
    background-color: #653a9e;
}
.divlucas {
    height: 70px;
    width: 400px;
    border-radius: 50px;
    background-color: #693881;
    display: flex;
    align-items: center;
    font-family: Century Gothic;
    margin-top: 5%;
}
#lucas {
    height: 55px;    
    width: 55px;
    border-radius: 50%;
}
.divpedro {
    height: 70px;
    width: 400px;
    border-radius: 50px;
    background-color: #693881;
    display: flex;
    align-items: center;
    margin-top: 5%;
    font-family: Century Gothic;
}
#pedro {
    height: 55px;    
    width: 55px;
    border-radius: 50%;
}
.divana {
    height: 70px;
    width: 400px;
    border-radius: 50px;
    background-color: #693881;
    display: flex;
    align-items: center;
    margin-top: 5%;
    font-family: Century Gothic;
}
#ana {
    height: 55px;    
    width: 55px;
    border-radius: 50%;
}
.divmarina {
    height: 70px;
    width: 400px;
    border-radius: 50px;
    background-color: #693881;
    display: flex;
    align-items: center;
    margin-top: 5%;
    font-family: Century Gothic;
}
#marina {
    height: 55px;    
    width: 55px;
    border-radius: 50%;
}
.nomes {
    margin-left: 3%;
    margin-right: 1.25%;
    font-size:15px;
}
.atuacao {
    font-size: small;
    color: rgb(211, 211, 211);
}
.perfis {
    margin-left: 3%;
}
.divana:hover {
    background-color: #672086;
}
.divlucas:hover {
    background-color: #672086;
}
.divmarina:hover {
    background-color: #672086;
}
.divpedro:hover {
    background-color: #672086;
}
#vermais:hover {
    background: #55116d;
}
